<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dkf.jmule" >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="org.dkf.jmule.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FrostWire">

        <activity
            android:name="org.dkf.jmule.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.dkf.jmule.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.dkf.jmule.android.ACTION_SHOW_TRANSFERS" />
                <action android:name="org.dkf.jmule.android.ACTION_REQUEST_SHUTDOWN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ed2k"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.emulecollection" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.emulecollection" />
            </intent-filter>
        </activity>

        <activity android:name="org.dkf.jmule.activities.AboutActivity"
                  android:label="@string/about"/>

        <activity android:name="org.dkf.jmule.activities.SettingsActivity"
                  android:label="@string/activity_preferences_name"
                  android:theme="@style/Preferences"/>

        <activity android:name="org.dkf.jmule.activities.WizardActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".android.ED2KService">
            <intent-filter>
                <action android:name="org.dkf.jmule.INTENT_OPEN"/>
                <action android:name="org.dkf.jmule.INTENT_CLOSE"/>
            </intent-filter>
        </service>
    </application>

</manifest>
