<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dkf.jed2k">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <service android:name=".android.ED2KService">
            <intent-filter>
                <action android:name="org.dkf.jed2k.android.INTENT_PLAYPAUSE"/>                
            </intent-filter>
        </service>
    </application>

</manifest>
